<div class="card" style="width: 18rem;">
  <img class="card-img-top seleccionado" src="/assets/{{fruta}}.png" alt="{{fruta}}" >
  <div class="card-body">
    <p class="card-text text-capitalize">{{fruta}}</p>
  </div>
</div>