<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercadito Web</title>
    <link rel="stylesheet" href="/bootstrapcss/bootstrap.css">
    <link rel="stylesheet" href="/css/estilos.css">
    <script src="/jquery/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>

</head>
<body>
    {{> Navbar }}

    <div class="container">
    <h2>Come Sano, Come Fresco te ofrece la mejor selección de productos para ti:</h2>
        {{> Productos}}
    </div>
    {{> Carrito productosCarrito}}

<script src="/bootstrapjs/bootstrap.js"></script>
<script>
    
    const productosCarrito = JSON.parse(localStorage.getItem("carrito")) || []
    
    $(".card-img-top").each(function(i, e){
        if (productosCarrito.includes($(e).attr("alt"))){
            $(this).toggleClass("seleccionado")
        }
    })


    $(".card-img-top").click(function(){
        $(this).toggleClass("seleccionado")
        const producto = $(this).attr("alt")
        console.log(producto)
        if (productosCarrito.some(e => e == producto)){
            const indice = productosCarrito.findIndex(e => e == producto)
            productosCarrito.splice(indice,1)
        }
        else{
            productosCarrito.push(producto)
        }
        localStorage.setItem("carrito", JSON.stringify(productosCarrito))
    })

    
    const data = {
        productosCarrito
    }
    $("#botonCarrito").click(function(){
        const template = Handlebars.compile(document.querySelector("#scriptCarrito").innerHTML)
        const filled = template(data)
        document.querySelector("#carrito").innerHTML = filled
        productosCarrito.forEach((e) => {
            document.querySelector("#elementosCarrito").innerHTML += `
            <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/assets/${e}.png" alt="${e}" >
            <div class="card-body">
            <p class="card-text text-capitalize">${e}</p>
            </div>
            </div>
            `
        })
    })


</script>
</body>

</html>